<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>

</head>
<body>
<ul class = "var">
    <li class = "varItem"><a href="/">Home</a></li>
    <li class = "varItem"><a href="/albums">All Albums</a></li>
    <li class = "varItem"><a href="/songs">All Songs</a></li>
    <li class = "varItem"><a href="/albumDetails">Album Details</a></li>

</ul>

</br></br>
<h1> Welcome Songr App </h1>
</body>
</html>