p{
      color : red;
      text-align: center;
      font-weight: bold;

}

h1{
    color : red;
    text-align: center;

}
h2{

    text-align: center;

}
img{
       border: 1px solid #ddd;
       border-radius: 4px;
       padding: 5px;
       width: 150px;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.var {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.varItem {
  float: left;
}

.varItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.varItem a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
}

button:hover {
  opacity: 0.8;
}
