<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
    <link th:href="@{/LoginStyle.css}" rel="stylesheet"/>

</head>
<body>
<ul class = "var">
    <li class = "varItem"><a href="/login">Log In</a></li>
    <li class = "varItem"><a href="/signup">Sign Up</a></li>
    <li class = "varItem"><a href="/">Home</a></li>
</ul>
</br></br>

<h1> Please Sign Up </h1>
<form action="/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <button type="submit">Sign Up</button>
</form>
</body>

</html>